@charset "utf-8";
/* CSS Document */

.main {
		margin:0px auto;
		width: 950px;
		text-align:center;
		margin-top:100px;
}
.mainText {
	margin:0px auto;
	width: 950px;
	font-size: 80px;
	font-weight:300;
}

.text2 {
	font-size:26px;
	line-height: 26px;
    color: rgb(106, 103, 99);
    letter-spacing: -1px;
}
