#center_block_app{
	width: 100%;
	height: 100%;
	background-color:  #d7d7d7;
	
	z-index: -3;
}
#center_block_user{
	width: 100%;
	height: 100%;
	background-color:  #d7d7d7;
	z-index: -3;
}
#plate{
	width: 208px;
	height: 208px;
	margin-top:60px;
	display: inline-block;
}
#sett{
	width: 22px;
	height:22px;
	margin-left: 10px;
}
#button_confirm{
	border: none;
	width: 208px;
	height: 40px;
	background-color: #a9da63;
	font-size: 22px;
	color:#F0FFFF;
	display: inline-block;
	margin-top: 20px;
	font-weight: 600;
}
#button_confirm_2{
	border: none;
	width: 208px;
	height: 40px;
	background-color: #a9da63;
	font-size: 22px;
	color:#F0FFFF;
	display: inline-block;
	font-weight: 600;
	margin-top: 50px;
}
#form_forS{
	border: none;
	width: 208px;
	height: 40px;
	background-color: #E5E4E2;
	font-size: 14px;
	color:#484848;
	display: inline-block;
	margin-top: 20px;
}
#plate_table{
	margin-left: 105px;
	font-size: 18px;
}
#plate_table_2{
	margin-bottom: 165px;
	margin-left: 105px;
	font-size: 18px;
}
#plate_table_3{
	margin-bottom: 157px;
	margin-left: 105px;
	font-size: 18px;	
}
#middle_table{
	font-size: 18px;
}
#middle_table_admin{
	font-size: 18px;
	padding-bottom: 100px;
}
#textR_table{
	margin-left: 20px;
	margin-top: 15px;
}

#textR_table_3{
	margin-left: 20px;
	margin-bottom: 300px;
}

#confirm_table{
	width: 550px;
}
#textR_caption{
	color:#484848;
	font-size: 24px;
	font-weight:bold;
	display: inline-block;
}
#textR_UnderC{
	color:#47315c;
	font-size: 16px;
	font-weight:800;
	text-transform: uppercase;
	font-style: italic;
}

#textR_C_T{
	color:#47315c;
	font-size: 14px;
	font-weight:800;
	padding-top: 30px;
	font-style: italic;
}
#textR_C_T a{
	color:#47315c;
}
#textR_Description{
	color:#484848;
	font-size: 18px;
	font-weight:800;
	padding-top: 30px;
	font-style: italic;
}

#textR_Description_3{
	color:#484848;
	font-size: 18px;
	font-weight:bold;
	padding: 10px 0;
	font-style: italic;
}
#information_3{
	font-size: 14px;
	font-weight:normal;
	font-style: italic;
	color:#484848;
	text-align: justify;
	width: 208px;
}
#information{
	width: 510px;
	font-style: italic;
	font-size: 14px;
	text-align: justify;
}
#textR_Rate{
	color:#848482;
	font-size: 18px;
	font-weight:800;
	margin-left: 20px;
	margin-top: 50px;
}
#textR_star{
	color:#848482;
	font-size: 20px;
	font-weight:800;
	margin-left: 20px;
}
#confirmation_up_text{
	font-size: 20px;
	padding-left: 30px;
	padding-top: 6px;
}
#confirmation_up_item{
	width: 550px;
	height: 40px;
	background-color: #848482;
	color:#e3e3e3;
	display: inline-block;
	margin-top: 20px;
	font-weight: bold;
}
#conf_table_text{
	font-size: 18px;
	color:#484848;
	display: inline-block;
	font-weight: bold;
	padding-left: 30px;
	padding-top: 20px;
}

#conf_table_item{
	width: 550px;
	height: 70px;
	background-color: #B6B6B4;
	font-size: 22px;
	color:#0C090A;
	display: inline-block;
}
#mUser_Cf_item{
	background-color: #B6B6B4;
	color: #47315c;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}
#mUser_Cf_item:hover a{
	color: #47315C;
}
#mUser_Cf_item a{
	color: #47315C;
}
