#center_block_msgs{
    width: 100%;
    background-color: #CFCFCF;
    z-index: -3;
    height: 550px;
    }
#inc_messages_table{
	width: 760px;
	margin-left: 100px;
}
#inc_m_caption_item{
	height: 80px;
	color: #47315c;
	font-size: 22px;
}
#inc_m_caption{
	color: #47315c;
	font-size: 22px;
	text-align:center;
	font-weight: 600;
}
#incide_t_table{
	width: 760px;
	height: 130px;
	background-color: #B6B6B4;
}
#sender_n_d_table{
	width: 140px;
	height:	100px;
}
#user_namer{
	color: #47315c;
	font-size: 18px;
	padding: 0 0 0 25px;
	margin-top: 13px;
	display: inline-block;
	font-weight: bold;
}
#massage_date{
	color: #0C090A;
	font-size: 11px;
	text-align: center;
	margin-bottom: 17px;
}
#message_text_table{
	height:	130px;
	width: 590px;
	margin-left: 10px;
}
#message_text{
	text-align: justify;
	font-size:	16px;
		
}
