
#photo{
	margin-top: 60px;
	margin-left:105px;
	width: 208px;
	height:208px;
	display: inline-block;
	z-index: -2;
}
#user_information_1_row{
	font-family: Century Gothic;
	font-size: 30px;
	color: #484848;
	font-weight: bold;
	display: inline-block;
	position: relative;
	left: 45px;
	bottom: 170px;
	z-index: 0;
}
#user_name{
	height: 30px;

}
#settings_icon{
	width: 45px;
	height: 37px;
}
#message_icon{
	width: 45px;
	height: 37px;
}
#close_icon{
	width: 45px;
	height: 37px;
}
#settg{
	margin-left: 10px;
	margin-top: 5px;
}
#messg{
	margin-left: 9px;
	margin-bottom: 2px;
}
#log_out{
	margin-left: 11px;
}
#user_information_2_row{
	width:260px;
	height: 80px;
	position: relative;
	left: 362px;
	bottom: 180px;
}
#rate{
	width: 94px;
	height: 70px;
}
#rectangle_rate{
	width: 43px;
	height: 43px;
	border-radius: 8px;
	background-color: #828282;
	font-family: Century Gothic;
	font-size: 34px;
	color: #a9da63;
	font-weight: bold;
	text-align: center;	
}
#for_info{
	margin-top: 10px;
}
#info{
	height: 70px;
	display: inline-block;
	font-family: Century Gothic;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	color: #484848;
}
#user_information_3_row{
	width: 510px;
	height: 145px;
	display: inline-block;
	position: relative;
	left: 362px;
	bottom: 180px;
}
.left_coll{
	width: 90px;
	font-family: Century Gothic;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	color: #484848;
	vertical-align: top;
	padding: 5px 0;
}
.right_coll{
	width: 420px;
	font-family: Century Gothic;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	color: #484848;
	text-align: justify;
	padding: 5px 0 5px 5px;
}
#request_proposals{
	width: 760px;
	color: #484848;
	font-family: Century Gothic;
	position: relative;
	bottom: 100px;
	left: 100px;
}
#green_title_req{
	background-color: #bbd79b;
	height: 36px;
	width: 378px;
	font-size:22px;
	border-right: 2px solid #9aae83;
	text-align: center;
}
#green_title_pro{
	background-color: #bbd79b;
	height: 36px;
	width: 380px;
	font-size: 22px;
	text-align: center;
}
.green_cell_req{
	background-color: #c3e39e;
	height: 60px;
	font-size: 14px;
	border-top: 2px solid #9aae83;
	border-right: 2px solid #9aae83;
}
.green_cell_pro{
	background-color: #c3e39e;
	height: 60px;
	font-size: 14px;
	border-top: 2px solid #9aae83;
}
.add_new_req{
	color: #7f8378;
	background-color: #c3e39e;
	height: 60px;
	font-size: 18px;
	border-top: 2px solid #9aae83;
	border-right: 2px solid #9aae83;
}
.add_new_pro{
	color: #7f8378;
	background-color: #c3e39e;
	height: 60px;
	font-size: 18px;
	border-top: 2px solid #9aae83;
}
.add{
	display: inline-block;
	margin-left: 5px;
	text-align: left;
	position: relative;
	bottom: 8px;
}
.plus{
	width: 30px;
	height: 30px;
	background-color: #b9cf9f;
	border-radius: 5px;
	margin-top: 5px;
	margin-left: 15px;
}
.mark{
	width: 27px;
	height: 27px;
	background-color: #798072;
	border-radius: 5px;
	display: inline-block;
	float: right;
	position: relative;
	right: 15px;
	top: 12px;
}
.mark_img{
	width: 24px;
	height: 20px;
	padding: 4px 4px 4px 2px;
}
.mark_del{
	width: 21px;
	height: 20px;
	padding: 4px 3px 4px 3px;
}

#menu_div{
	display: inline-block;
	text-transform: uppercase;
	font-size: 18px;
	position: relative;
	top: 20px;
	left: -150px;
	z-index: 11;
}
#menu_div a{
	color:#d7d7d7;
	z-index: 17;
}
