#center_block_def1{
	width: 960px;
	height: 100%;
	background-color:  #868983;
}
#sign_up_form{
	width: 552px;
	position: relative;
	left: 206px;
}
#title{
	width: 552px;
	font-size: 24px;
	color: #e3e3e3;
	height: 60px;
	display: inline-block;
	text-align: center;	
}
div#title > p{
	margin-top: 12px;
}
#caption_1{
	width: 265px;
	height: 50px;
	font-size: 24px;
	color: #f6f4f8;
	font-weight: bold;
	display: inline-block;
}
div#caption_1 > p{
	margin-top: 10px;
}
#caption_2{
	width: 265px;
	height: 50px;
	margin-left: 12px;
	font-size: 24px;
	color: #f6f4f8;
	font-weight: bold;
	display: inline-block;
}
div#caption_2 > p{
	margin-top: 10px;
	margin-left: 2px;
}
#form_1{	
	background-color: #cbc8ce;
	height: 46px;
	width: 265px;
	border: none;
	color: #484848;
	font-size: 24px;
	font-weight: bold;
}
#form_2{
	background-color: #cbc8ce;
	height: 46px;
	width: 265px;
	border: none;
	float: right;
	color: #484848;
	font-size: 24px;
	font-weight: bold;
}
#caption_3{
	width: 552px;
	height: 50px;
	font-size: 24px;
	color: #f6f4f8;
	font-weight: bold;
	display: inline-block;
}
div#caption_3 > p{
	margin-top: 10px;
}
#form_3{
	background-color: #cbc8ce;
	height: 46px;
	width: 552px;
	border: none;
	color: #484848;
	font-size: 24px;
	font-weight: bold;
}
#caption_4{
	width: 552px;
	height: 10px;
	font-size: 24px;
}
div#caption_4 > p{
	margin-top: 8px;
}
#form_4{
	background-color: #cbc8ce;
	height: 46px;
	width: 265px;
	border: none;
	color: #868983;
	font-size: 24px;
	font-weight: bold;
	display: inline-block;	
}
div#form_4 > p{
	margin-left: 75px;
	margin-top: 8px;
}
#form_5{
	background-color: #cbc8ce;
	height: 46px;
	width: 265px;
	border: none;
	color: #868983;
	display: inline-block;
	float: right;
	font-size: 24px;
	font-weight: bold;
}
div#form_5 > p{
	margin-left: 60px;
	margin-top: 8px;
}
#opt{
	margin-left: 15px;
}
#form_6_1{
	background-color: #cbc8ce;
	height: 46px;
	width: 265px;
	border: none;
	color: #868983;
	font-size: 24px;
	font-weight: bold;
	display: inline-block;	
}
#form_6_2{
	background-color: #cbc8ce;
	height: 46px;
	width: 265px;
	border: none;
	color: #868983;
	font-size: 24px;
	font-weight: bold;
	float: right;
	display: inline-block;	
}
#form_6_3_1{
	background-color: #cbc8ce;
	height: 46px;
	width: 120px;
	border: none;
	color: #868983;
	font-size: 24px;
	font-weight: bold;
	margin-left: 20px;
	display: inline-block;	
}
#form_6_3_2{
	background-color: #cbc8ce;
	height: 46px;
	width: 120px;
	border: none;
	color: #868983;
	font-size: 24px;
	font-weight: bold;
	float: right;
	display: inline-block;	
}
#upload{
	background-color: #a9da64;
	height: 46px;
	width: 265px;
	border: none;
	float: right;
	color: #f6f4f8;
	font-size: 24px;
	font-weight: bold; 
}
#form_inf{
	background-color: #cbc8ce;
	height: 120px;
	width: 552px;
	border: none;
	color: #484848;
	font-size: 14px;
	font-weight: bold;
}
#form_sup{
	background-color: #a9da64;
	height: 76px;
	width: 552px;
	border: none;
	color: #f6f4f8;
	font-size: 24px;
	font-weight: bold;
}

