.cpp.code_snippet .de1, .cpp.code_snippet .de2 {font-family: monospace; font-weight: normal; font-style: normal; margin:0; padding:0; background:inherit;}
.cpp.code_snippet {white-space: nowrap;}
.cpp.code_snippet .imp {font-weight: bold; color: red;}
.cpp.code_snippet li, .cpp.code_snippet .li1 {font-weight: normal;}
.cpp.code_snippet .ln {width:1px;font-weight: normal;text-align:right;margin:0;padding:0 2px;}
.cpp.code_snippet .li2 {font-weight: bold;}
.cpp.code_snippet .kw1 {color: #0000ff;}
.cpp.code_snippet .kw2 {color: #0000ff;}
.cpp.code_snippet .kw3 {color: #0000dd;}
.cpp.code_snippet .kw4 {color: #0000ff;}
.cpp.code_snippet .co1 {color: #666666;}
.cpp.code_snippet .co2 {color: #339900;}
.cpp.code_snippet .coMULTI {color: #ff0000; font-style: italic;}
.cpp.code_snippet .es_h {color: #666666; font-weight: bold;}
.cpp.code_snippet .br0 {color: #008000;  font-weight: bold;}
.cpp.code_snippet .sy0 {color: #008000;}
.cpp.code_snippet .sy1 {color: #000080;}
.cpp.code_snippet .sy2 {color: #000040;}
.cpp.code_snippet .sy3 {color: #000040;}
.cpp.code_snippet .sy4 {color: #008080;}
.cpp.code_snippet .st0 {color: #FF0000;}
.cpp.code_snippet .nu0 {color: #0000dd;}
.cpp.code_snippet .nu6 {color: #208080;}
.cpp.code_snippet .nu8 {color: #208080;}
.cpp.code_snippet .nu12 {color: #208080;}
.cpp.code_snippet .nu16 {color:#800080;}
.cpp.code_snippet .nu17 {color:#800080;}
.cpp.code_snippet .nu18 {color:#800080;}
.cpp.code_snippet .nu19 {color:#800080;}
.cpp.code_snippet .me1 {color: #007788;}
.cpp.code_snippet .me2 {color: #007788;}
.cpp.code_snippet .ln-xtra, .cpp.code_snippet li.ln-xtra, .cpp.code_snippet div.ln-xtra {background-color: #ffc;}
.cpp.code_snippet span.xtra { display:block; }

.python.code_snippet .de1, .cpp.code_snippet .de2 {font-family: monospace; font-weight: normal; font-style: normal; margin:0; padding:0; background:inherit;}
.python.code_snippet {white-space: nowrap;}
.python.code_snippet .imp {font-weight: bold; color: red;}
.python.code_snippet li, .cpp.code_snippet .li1 {font-weight: normal;}
.python.code_snippet .ln {width:1px;font-weight: normal;text-align:right;margin:0;padding:0 2px;}
.python.code_snippet .li2 {font-weight: bold;}
.python.code_snippet .kw1 {color: #FF8000;}
.python.code_snippet .kw2 {color: #800080;}
.python.code_snippet .kw3 {color: #0000dd;}
.python.code_snippet .kw4 {color: #0000ff;}
.python.code_snippet .co1 {color: #666666;}
.python.code_snippet .co2 {color: #339900;}
.python.code_snippet .coMULTI {color: #ff0000; font-style: italic;}
.python.code_snippet .es_h {color: #666666; font-weight: bold;}
.python.code_snippet .br0 {color: #008000;  font-weight: bold;}
.python.code_snippet .sy0 {color: #008000;}
.python.code_snippet .sy1 {color: #000080;}
.python.code_snippet .sy2 {color: #000040;}
.python.code_snippet .sy3 {color: #000040;}
.python.code_snippet .sy4 {color: #008080;}
.python.code_snippet .st0 {color: #009900;}
.python.code_snippet .nu0 {color: #0000dd;}
.python.code_snippet .nu6 {color: #208080;}
.python.code_snippet .nu8 {color: #208080;}
.python.code_snippet .nu12 {color: #208080;}
.python.code_snippet .nu16 {color:#800080;}
.python.code_snippet .nu17 {color:#800080;}
.python.code_snippet .nu18 {color:#800080;}
.python.code_snippet .nu19 {color:#800080;}
.python.code_snippet .me1 {color: #007788;}
.python.code_snippet .me2 {color: #007788;}
.python.code_snippet .ln-xtra, .cpp.code_snippet li.ln-xtra, .cpp.code_snippet div.ln-xtra {background-color: #ffc;}
.python.code_snippet span.xtra { display:block; }

.php.code_snippet .de1, .php.code_snippet .de2 {font: normal normal 1em/1.2em monospace; margin:0; padding:0; background:none; vertical-align:top;}
.php.code_snippet .imp {font-weight: bold; color: red;}
.php.code_snippet li, .php.code_snippet .li1 {font-weight: normal; vertical-align:top;}
.php.code_snippet .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.php.code_snippet .li2 {font-weight: bold; vertical-align:top;}
.php.code_snippet .kw1 {color: #b1b100;}
.php.code_snippet .kw2 {color: #000000; font-weight: bold;}
.php.code_snippet .kw3 {color: #990000;}
.php.code_snippet .kw4 {color: #009900; font-weight: bold;}
.php.code_snippet .co1 {color: #666666; font-style: italic;}
.php.code_snippet .co2 {color: #666666; font-style: italic;}
.php.code_snippet .co3 {color: #0000cc; font-style: italic;}
.php.code_snippet .co4 {color: #009933; font-style: italic;}
.php.code_snippet .coMULTI {color: #666666; font-style: italic;}
.php.code_snippet .es0 {color: #000099; font-weight: bold;}
.php.code_snippet .es1 {color: #000099; font-weight: bold;}
.php.code_snippet .es2 {color: #660099; font-weight: bold;}
.php.code_snippet .es3 {color: #660099; font-weight: bold;}
.php.code_snippet .es4 {color: #006699; font-weight: bold;}
.php.code_snippet .es5 {color: #006699; font-weight: bold; font-style: italic;}
.php.code_snippet .es6 {color: #009933; font-weight: bold;}
.php.code_snippet .es_h {color: #000099; font-weight: bold;}
.php.code_snippet .br0 {color: #009900;}
.php.code_snippet .sy0 {color: #339933;}
.php.code_snippet .sy1 {color: #000000; font-weight: bold;}
.php.code_snippet .st0 {color: #0000ff;}
.php.code_snippet .st_h {color: #0000ff;}
.php.code_snippet .nu0 {color: #cc66cc;}
.php.code_snippet .nu8 {color: #208080;}
.php.code_snippet .nu12 {color: #208080;}
.php.code_snippet .nu19 {color:#800080;}
.php.code_snippet .me1 {color: #004000;}
.php.code_snippet .me2 {color: #004000;}
.php.code_snippet .re0 {color: #000088;}
.php.code_snippet .ln-xtra, .php.code_snippet li.ln-xtra, .php.code_snippet div.ln-xtra {background-color: #ffc;}
.php.code_snippet span.xtra { display:block; }