100 ICON "logo.ico"
 
Menu MENU
{
 POPUP "File"
        {
         MENUITEM "Exit",90
        }


	POPUP "First part"
			{
			MENUITEM "1",1
			MENUITEM "2",2
			MENUITEM "3",3
			MENUITEM "4",4
			MENUITEM "5",5
			MENUITEM "6",6
			}

	POPUP "Second part"
			{
			MENUITEM "7",7
			MENUITEM "8",8
			MENUITEM "9",9
			MENUITEM "10",10
			MENUITEM "11",11
			MENUITEM "12",12
			}	 

POPUP "Help"
{
	MENUITEM "About",13
}
}
