.field {
  width: 40px;
  height: 20px;
  border-radius: 5em;

  padding-left: 1em;
}
#main {
  color: white;
  position: absolute;
  left: 60%;
  background-color: #228b22;
  border-radius: 5%;
  padding: 2% 2% 2% 2%;
  height: 460px;
  width: 35%;
  border: 2px solid #228b22;
}
.menu {
  padding-left: 1em;
  border-radius: 2em;
  background-color: #228b22;

}

#body {
  background-image: url(Vecher_v_lesu_Rucheek.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}
#button {
  width: 100px;
  height: 40px;
  border-radius: 10em;

  margin: 1em 0 0 8em;
  background-color:  darkgreen;
  color: white;
  border: 3px solid white;

}
#button:hover {
  background-color: white;
  color: #228b22;
}