
/* a.begun:hover {color:red !important;} */


A {
	/* COLOR: #336699;  */
	COLOR: #0000d0;
	TEXT-DECORATION: underline
}

A:hover {
	COLOR: #f26d00;
	 TEXT-DECORATION: none
}

BODY {
	FONT-WEIGHT: normal;
	FONT-FAMILY: "Times New Roman", Times, serif;
}
H1 {
	font-size : large;
}
H2 {
	font-size : larger;
}
.CL_LOGO{
	font-family : Arial, Helvetica, sans-serif;
	font-size : x-large;
	font-style : normal;
	color : White;
	text-align : center;
}
.CL_HEAD {
	font-family : "Courier New", Courier, monospace;
	font-size : larger;
	color : White;
	text-align :  left;
	text-indent : 50px;
}
.CL_PROMPT {
	color : Black;
	font-size : smaller;
	text-align : left;
}
.CL_Links {
	text-align : left;
	text-indent : 25px;
}
.CL_TEXT {
	margin-left : 25px;
	margin-right: 20px;
	margin-top  : 35px;
	text-align  : justify;
}
.CL_TEXT_2{
	margin-top : 15px;
	margin-right: 20px;
	text-align : justify;
}

.CL_LIST {
	margin-left : 68px;
	/* margin-top : 35px; */
}
