h1 {
    text-align: center;
}
#main {
    border: 2px solid #228b22;
    height: 33%;
    width: 43%;
}
#main form {
    margin: 1%;
}
#a {
    width: 45%;
    height: 20%;
    border-radius: 5em;
    padding-left: 1em;
}

#b {
    width: 45%;
    height: 20%;
    margin-left: 9%;
    padding-left: 1em;
    border-radius: 5em;
}

#E {
    height: 20%;
    border-radius: 5em;
    position: relative;
    left: 5%;
}

#button {
    margin-left: 3%;
    height: 40px;
    width: 100px;
    position: relative;
    left: 31%;
    border-radius: 15%;
    margin-bottom: 1%;
    color: #fbf9ff;
    background-color: #228b22;
    border: 1px solid rgba(64, 67, 63, 0.66);
}
#result a{
    width: 45%;
    height: 30%;
    margin-inside: 5em;
}
#button:hover {
   background-color: chocolate;
}