H1.navigation {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; MARGIN-BOTTOM: 0pt; COLOR: #171374; FONT-FAMILY: times
}
A.navigation {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #171374; FONT-FAMILY: times; TEXT-DECORATION: none; text-width: bold
}
A.index {
	MARGIN-LEFT: 40pt; COLOR: #171374
}
A:link {
	COLOR: #171314
}
A:unknown {
	COLOR: #254425
}
A:unknown {
	COLOR: red
}
BODY {
	FONT-SIZE: 12pt; MARGIN-LEFT: 10px; MARGIN-RIGHT: 10px; BACKGROUND-COLOR: #f7fdf6; TEXT-ALIGN: justify
}
H1 {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 10pt; COLOR: #254425; TEXT-ALIGN: left
}
H2 {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 10pt; COLOR: #254425; TEXT-ALIGN: left
}
H3 {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 10pt; COLOR: #254425; TEXT-ALIGN: left
}
H4 {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 10pt; COLOR: #254425; TEXT-ALIGN: left
}
H5 {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 10pt; COLOR: #254425; TEXT-ALIGN: left
}
H1 {
	FONT-SIZE: 20pt
}
H2 {
	FONT-SIZE: 18pt
}
H3 {
	FONT-SIZE: 14pt
}
H2 {
	FONT-SIZE: 14pt
}
DIV.text {
	PADDING-RIGHT: 1em; PADDING-LEFT: 3em; FONT-SIZE: 12pt; PADDING-BOTTOM: 5pt; COLOR: black; MARGIN-RIGHT: 10pt; PADDING-TOP: 5pt; FONT-STYLE: italic; BACKGROUND-COLOR: #d2f2d2; TEXT-ALIGN: justify; BORDER-RIGHT-WIDTH: 1pt
}
P {
	COLOR: black; TEXT-INDENT: 30px
}
OL {
	MARGIN: 10px
}
UL {
	MARGIN: 10px
}
DL {
	MARGIN: 10px
}
EM {
	COLOR: #171374
}
B {
	COLOR: #171374
}
TT {
	COLOR: #171374
}
PRE {
	COLOR: #171374
}
PRE {
	MARGIN-LEFT: 25px
}
.level0 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; TEXT-INDENT: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.level1 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; TEXT-INDENT: 14px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.level2 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; TEXT-INDENT: 28px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.level3 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; TEXT-INDENT: 42px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.level4 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; TEXT-INDENT: 56px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
